
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #E6EFF5;
}

.price-grid {
	background-color: #FFFFFF;
	box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
	border-radius: 8px;
	margin: 30px;
	width: 635px;
}

.grid-top {
	padding: 40px;
	background-color: #FFFFFF;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.grid-top h1 {
	color: #2AB3B1;
}

.grid-top strong {
	color: #C0DF33;
}

.grid-top p {
	color: #9AA7BE;
}

.grid-bottom {
	display: flex;
}

.grid-bottom-left, 
.grid-bottom-right {
	padding: 40px;
	flex-basis: 50%;
}

.grid-bottom {
	color: #FFFFFF;
}

.grid-bottom-left button {
	padding: 15px 80px;
	border: none;
	background-color: #C0DF33;
	color: #FFFFFF;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
	border-radius: 5px;
	font-weight: 700;
}

.grid-bottom-left {
	background-color: #2AB3B1;
	border-bottom-left-radius: 8px;
}

.grid-bottom-right {
	background: rgba(42, 179, 177, 0.85);
	border-bottom-right-radius: 8px;
}